.tablecontainer {
  position: relative;
  overflow-x: auto;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107 114 128);
}

.table_head {
  background-color: rgb(249 250 251);
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: rgb(55 65 81 / 1);
}

.table_h_col {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.table_row {
  border-bottom-width: 1px;
  background-color: rgb(255 255 255);
}

.table_r_col {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table_r_scope {
  white-space: nowrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  color: rgb(17 24 39);
}
